#textInput {
    border: none;
    border-bottom: 3px solid lightpink;
}
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align:justify;
    line-height: 30px;
}
.botText span {
    background-color: rgb(165, 63, 63);
    padding: 10px;
    border-radius: 2px;
}

.btn-infoo{
    background-color: blue;
}

.btn-sucess{
    background-color:blue;
}

